
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  position: relative;
}

.bottom { color: black }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right { float: right }

.red { color: red !important }

.red-focus:focus { border: 1px solid #d10808 !important }


.top {
  height: 40vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Budget Area */

.budget {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

}
.budget-title {
  font-size: 25px;
  margin-bottom: 10px;
  /* font-weight: 300; */
  text-align: center;
}

.budget-total {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.budget-income,
.budget-expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget-income {
    margin-bottom: 10px;
    background-color: #259c17;
}

.budget-expenses { background-color: #d10808 }

.budget-income-text,
.budget-expenses-text {
    float: left;
    font-size: 14px;
    color: white;
    margin-top: 2px;
}

.budget-income-value,
.budget-expenses-value {
    letter-spacing: 1px;
    float: left;
}

.budget-income-percentage,
.budget-expenses-percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget-expenses-percentage,
.budget-income-percentage {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 3px;
}

.dropdown:focus,
.add-description:focus,
.add-value:focus {
    outline: none;
    border: 1px solid #259c17;
}

/* Bottom */

.container {
    width: 1000px;
    margin: 50px auto;

}

.income {
    float: left;
    width: 480px;
}

.income-title { color: #259c17 }

.expenses-title { color: #d10808 }

.income-title,
.expenses-title { text-align:center }

.expenses {
    float: left;
    width: 480px;
    margin-left: 40px;
}

.item {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
}

.item:first-child { border-top: 1px solid #c4c4c4 }

.item:nth-child(even) { background-color: #ededed }

.item-description { line-height: 40px }

.item-value { transition: transform 0.5s }

.item-right {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    justify-content: space-around;
}

.item-delete { width: 40px }

.item-delete-btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item-delete-btn:focus { outline: none; }
.item-delete-btn:active { transform: translateY(2px) }

.item:hover .item-delete-btn { display: block; }
.item:hover .item-value { transform: translateX(-20px) }
.item:hover .item-percentage { transform: translateX(-20px) }
