
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  position: relative;
}

.bottom { color: #000000 }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red { color: red !important }

.red-focus:focus { border: 2px solid #D10808 !important }


.top {
    color: white;
    height: 40vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Budget Area */

.budget {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

}
.budget-title {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.budget-total {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget-income,
.budget-expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget-income {
    margin-bottom: 10px;
    background-color: #259C17;
}

.budget-expenses { background-color: #D10808 }

.budget-income-text,
.budget-expenses-text {
    float: left;
    font-size: 14px;
    color: white;
    margin-top: 2px;
}

.budget-income-value,
.budget-expenses-value {
    letter-spacing: 1px;
    float: left;
}

.budget-income-value {
    margin-right: 44px;
}

.budget-income-percentage,
.budget-expenses-percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget-expenses-percentage,
.budget-income-percentage {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 3px;
}

.dropdown:focus,
.add-description:focus,
.add-value:focus {
    outline: none;
    border: 2px solid #259C17;
}

/* Bottom */

.container {
    width: 1000px;
    margin: 50px auto;

}

.budget-form-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #CCCCCC;
}

.budget-form {
    display: flex;
    align-items: center;
}

.dropdown {
    width: 60px;
    font-size: 20px;
    margin-right: 10px;
}

.add-description,
.add-value {
    border:none;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    height: 28px;
    padding-left: 10px;
}

.add-btn {
    font-size: 24px;
    padding: 0;
    border: none;
    background: none;
    width: 30px;
}

.add-btn:active { transform: translateY(2px) }
.add-btn:focus { outline: none }

.income-title,
.expenses-title { text-align:center }

.income-title { color: #259C17 }

.income {
    color: #000000;
    float: left;
    width: 480px;
    margin-right: 40px;
}

.expenses-title { color: #D10808 }

.expenses {
    float: left;
    width: 480px;
}

.item:first-child { border-top: 1px solid #C4C4C4 }

.item:nth-child(even) { background-color: #EDEDED }

.item {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    line-height: 40px;
}

.item-value,
.item-percentage {
    transition: transform 0.4s;
}

.item-percentage {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #D10808;
    border-radius: 3px;
    text-align: center;
    float: left;
}

.item-delete-btn {
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
    color: #D10808;
}

.item-delete {
    display:flex;
    justify-content: space-around;
    display: none;
}

.item-delete-btn:focus { outline: none }
.item-delete-btn:active { transform: translateY(2px) }

.item:hover .item-delete { display: block; }
.item:hover .item-value { transform: translateX(-10px) }
.item:hover .item-percentage { transform: translateX(-10px) }
