* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;

}

.top {
  height: 40vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
